
/* ALL PAGES */

.mainTitle{
    text-align: center;
    margin-top: 2rem;
  }
  
  .contact__emptyDiv{
    height: 10rem;
  }
  
  .home__main__emptyContainer{
    background-color: black;
    height: 8rem;
  }
  