@import "maps";

footer{
    background-color: black;

    ul {
      margin-bottom: auto;

      span {
        display: none;
      }
    }

    div.footer__container {
      background-color: black;
      color: white;
      text-align: center;

      .footer__socialList {

        i {
          color: map-get($social_styles, color);
          font-size: map-get($social_styles, font-size);
          margin-right: map-get($social_styles, margin-right);
        }
      }      
    }
  }

  
@media screen and (min-width: 768px){
  
  footer {
    ul {
      span {
        display: inline-block;
      }  
    }  
  } 
}
