/* ++++++++++++++++++++++++++++++++++++ */
/* HEADER ALL PAGES */ 
/* ++++++++++++++++++++++++++++++++++++ */
@import "mixins";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgb(0, 0, 0);
    padding: 0.7rem;
    z-index: 10;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);

    .header__homeLogo {
        @include sizeswh(7rem,7rem);
        transform: scale(0.7);

        a img{
            @include sizeswh(100%,100%);
        }

    }

    .header__burgerMenu {
        display: flex;
        justify-content: center;
        align-items: center;
        @include sizeswh(2.5rem,2.5rem);
        font-size: 2rem;
        background-color: black;
        border: none;
        color: rgba(175, 173, 173, 0.691);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        cursor: pointer;
        transition: box-shadow 0.5s ease-in;
    }

    input#menu:checked ~ .header__nav {
        display: block;
    }
      
    input#menu {
        display: none;
    }

    .header__nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        @include sizeswh(100%,100%);
        background-color: black;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include sizeswh(100%,100%);
            background: linear-gradient(to right,rgba(125, 89, 27, 0.65),black, rgba(255,0,0,0));
            background-size: 400% 400%;
            animation: fondo-anim 3s ease infinite;

            @keyframes fondo-anim {
                0%{background-position: 0 50%}
                50%{background-position: 100% 50%}
                100%{background-position: 0% 50%}
            }

            li {
                padding: 0.5rem;

                a {
                    color: white;

                    &:active {
                        color: orange;
                    }
                }
            }
        }

        .header__closeMenu {
            position: absolute;
            top: 3rem;
            right: 1rem;
            font-size: 1.5rem;
            color: rgba(175, 173, 173, 0.691);
        }
    }
}

  /* HEADER MEDIA QUERIES */
  
@media screen and (min-width: 768px ){
    
    header{

        .header__homeLogo {
            margin-left: 15vh;
            transform: scale(1);
    
            &:hover {
                transform: scale(1.1);
                transition: 1s;
            }
            &:not(:hover) {
                transform: scale(1);
                transition: 1s;
            }
        }
      
        .header__nav {
            display: initial;
            position: inherit;
            width: auto;
            height: auto;
            margin-right: 15vh;
    
            ul {
                flex-direction: row;
                justify-content: space-evenly;
                background: none;
    
                li a{
                    
                    &:hover {
                        color: orange;
                        transition:  1s;
                    }
                }
            }
    
            .header__closeMenu {
                display: none;
            }
        }
    
        .header__burgerMenu {
            display: none;
        }  
    }

    
}
  
