/* Reset styles */

/* reset box modeling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
  }
  
  /* ---------- */
  
  li{
    list-style: none;
  }
  
  a{
    text-decoration: none!important;
  }
  
  h1, h2{
    color: rgba(22, 22, 22, 0.908);
  }
  
  /* end reset  */