.services__main__imgContainer {
    height: 18.75rem;

    .services__main__sectionImg {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

.services__section {    
  margin-bottom: 2rem; 
  
  article {
    margin-bottom: 2rem;
  }
}

.services_subtitle {
  margin-top: 1.4rem;
  color: rgba(53, 52, 52, 0.908);
}

.services__sectionsWithArticles {
  margin-top: 1rem;

  .services__section__articleImg {

    img {
      max-height: 10rem!important;
      max-width: 10rem!important;
    }
  }
}
