@import "mixins";

.services__main__imgContainer {
    height: 300px;

    .services__main__sectionImg {
      object-fit: cover;
      @include sizeswh(100%,100%)
    }
  }

.services__section {    
  margin-bottom: 20px; 
  @include marginlr3vh;

  article {
    margin-bottom: 20px;
  }

}

.services_subtitle {
  margin-top: 20px;
  color: rgba(53, 52, 52, 0.908);
}

.services__sectionsWithArticles {
  margin-top: 1rem;

  .services__section__articleImg {

    img {
      max-height: 160px!important;
      max-width: 160px!important;
    }
  }
}

@media screen and (min-width: 768px) {

  .services__main{

    font-size: medium;
    
    .services__section {
      @include marginlr(8vh,8vh);
    }

  }

}

@media screen and (min-width: 992px){
  
  .services__main{

    font-size: large;
    
    .services__section {
      @include marginlr(8vh,8vh);
    }

  }

}

@media screen and (min-width: 1350px){
  
  .services__main{

    font-size: larger;
    
    .services__section {
      @include marginlr(15vh,15vh);
    }

  }
  
}