/* Reset styles */

/* reset box modeling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

/* ---------- */

li{
    list-style: none;
}

a{
    text-decoration: none;
}

h1, h2{
    color: rgba(22, 22, 22, 0.908);
}

/* end reset  */

/* ++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++ */


/* ++++++++++++++++++++++++++++++++++++ */
/* HEADER ALL PAGES */ 
/* ++++++++++++++++++++++++++++++++++++ */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* header fijo */
    top: 0;
    background-color: rgb(0, 0, 0);
    padding: 0.7rem;
    z-index: 10;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
}

/*  Header logo */ 
.header__homeLogo{
    width: 7rem;
    height: 7rem;
    transform: scale(0.7);
}

.header__homeLogo a img{
    height: 100%;
    width: 100%;
}
/* ------------- */

/*  Nav  */

.header__nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: black;
}

.header__nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255,0,0,0) 0%,rgba(120, 114, 114, 0.65) 100%);
}

.header__nav ul li {
    padding: 0.5rem;
}

.header__nav ul li a{
    color: white;
}

.header__nav ul li a:active{
    color: orange;
}

/* Burger Menu & Close menu buttons (only mobile) */

.header__burgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    background-color: black;
    border: none;
    color: rgba(175, 173, 173, 0.691);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in;
}

.header__closeMenu {
    position: absolute;
    top: 3rem;
    right: 1rem;
    font-size: 1.5rem;
    color: rgba(175, 173, 173, 0.691);
}

/* Only for function of buttons */

input#menu:checked ~ .header__nav {
    display: block;
}

input#menu {
    display: none;
}

/* ----------------------- */

/* ---------- */

/* HEADER MEDIA QUERIES */

@media screen and (min-width: 768px){
    
    .header__homeLogo{
        margin-left: 15vh;
        transform: scale(1);
    }

    .header__nav {
        display: initial;
        position: inherit;
        width: auto;
        height: auto;
        margin-right: 15vh;
    }

    .header__nav ul {
        flex-direction: row;
        justify-content: space-evenly;
        background: none;
    }

    .header__nav ul li a:hover{
        color: orange;
        transition:  1.5s;
    }

    .header__burgerMenu {
        display: none;
    }
    
    .header__nav .header__closeMenu {
    display: none;
    }

}

/* END HEADER */

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

/* ++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++ */
/* HOME */
/* ++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++ */

.index__body{
    display: grid;
    grid-template-rows: 8.4rem 40rem 7rem;
}

/* MAIN */

.home__main__background{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home__main{
    background-color: black;
    display: grid;
    grid-template-rows: 69% 31%;
}

@media screen and (min-width: 768px){
    
    .index__body{
        display: grid;
        grid-template-rows: 8.4rem 55rem 6.5rem;
    }

    .home__main{
        background-color: black;
        display: grid;
        grid-template-rows: 82% 18%;
    }

}

/* END MAIN */

/* END HOME */

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

/* ALL PAGES */

.mainTitle{
    text-align: center;
    margin-top: 2rem;
}

.contact__emptyDiv{
    height: 10rem;
}

.home__main__emptyContainer{
    background-color: black;
    height: 8rem;
}


/* --------- */

/* ++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++ */
/* ARTIST */
/* ++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++ */

.artist__body{
    display: grid;
    grid-template-rows: 8.4rem 105.5rem 7.0rem;
}

/* MAIN */

.artist__main{
    width: 100%;
}

.artist__main__imgContainer{
    height: 18.75rem;
}

.artist__main__sectionImg{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.artist__main__subtitle{
    margin-top: 1.4rem;
}

/* -------- */
/* sections */
.artist__main__section{
    margin-left: 4vh;
    margin-right: 4vh;
}

.artist__main__section__article{
    margin-top: 2rem;
    width: 100%;
    height: 100%;
}

.artist__main__section__articleImg{
    border-radius: 4rem;
    box-shadow: 3px 3px 5px #999;
    width: 100%;
    height: 100%;
}

/* only mobile */
.artist__description p{
    display: none;
}

.artist__description{
    text-align: center;
}

/* sections */
/* -------- */

/* END MAIN */

@media screen and (min-width: 768px) {

    /* ----------- */
    /* Page style */
    .artist__body{
        display: grid;
        grid-template-rows: 8.4rem 79.7rem 6.5rem;
    }
    /* Page style */
    /* ----------- */

    .artist__main{
        display: grid;
        grid-template-rows: 18.75rem 5rem 8rem 30rem 10rem 8rem;
    }

    .artist__main__subtitle{
        margin-top: 1.4rem;
    }

    .artist__main__section{
        margin-left: 15vh;
        margin-right: 15vh;
    }

    .artist__main__artistBoxes{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        gap: 1.5rem;
    }

    .artist__main__section__article{
        display: grid;
        grid-template-rows: 1fr 6fr 5fr;
    }

    .artist__main__section__articleImg{
        border-radius: 8rem;
        box-shadow: 3px 3px 5px #999;     
        width: 100%;
        height: 100%;
    }

    .artist__description{
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .artist__description p{
        margin-top: 1rem;
        padding: 1rem;
        display: block
    }

}

/* END ARTIST */

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

/* ++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++ */
/* SERVICES */
/* ++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++ */

.services__body{
    display: grid;
    grid-template-rows: 8.4rem 143rem 7.0rem;
}

/* MAIN */

.services__main__imgContainer{
    height: 18.75rem;
}

.services__main__sectionImg{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.services_subtitle{
    margin-top: 1.4rem;
    color: rgba(53, 52, 52, 0.908);
}

.services__section{
    margin-left: 4vh;
    margin-right: 4vh;
}

.services__section__articleImg{
    margin-top: 2rem;
    height: 50%;
}

.services__section__articleImg img{
    margin-top: 2rem;
    width: 100%;
    height: 100%;
    padding-right: 2rem;
}

.services__section article{
    display: flex;
}

.services__section__articleText{
    margin-top: 2rem;
    width: 50%;
    padding-top: 2rem;
}

.services__article__descriptionDesktop{
    margin-top: 0.5rem;
    font-size: 0.9rem;
    display: none;
    color: rgba(53, 52, 52, 0.908);
}

.services__section__articleText h2{
    margin-top: 0.5rem;
    font-size: 1.1rem;
}

.services__article__descriptionMobile{
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: rgba(53, 52, 52, 0.908);
}

@media screen and (min-width: 768px){
    
    .services__body{
        display: grid;
        grid-template-rows: 8.4rem 94.7rem 7.0rem;
    }

    .services__main{
        display: grid;
        grid-template-rows: 18.75rem 5rem 8rem 45rem 10rem 8rem;
    }

    .services__section{
        margin-left: 15vh;
        margin-right: 15vh;
    }

    .services__article__descriptionMobile{
        display: none;
    }

    .services__article__descriptionDesktop{
        display: block;
    }

    .services__sectionsWithArticles{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr;
    }

}

/* END MAIN */

/* SERVICES */

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

/* ++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++ */
/* ABOUT */
/* ++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++ */

.about__body{
    display: grid;
    grid-template-rows: 8.4rem 100rem 7.8rem;
}

/* MAIN */

.about__main__imgContainer{
    height: 18.75rem;
}

.about__main__sectionImg{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.about__mainTitle__desktop{
    display: none;
}

.about__main__section{
    margin-top: 1.4rem;
    margin-left: 4vh;
    margin-right: 4vh;
    color: rgba(53, 52, 52, 0.908);
}

@media screen and (min-width: 768px){
    
    .about__body{
        display: grid;
        grid-template-rows: 8.4rem 55rem 6.5rem;
    }

    .about__main__section{
        margin-left: 15vh;
        margin-right: 15vh;
    }

    .about__mainTitle__desktop{
        display: block
    }

    .about__mainTitle__mobile{
        display: none;
    }

}

/* END MAIN */

/* END ABOUT */

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

/* ++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++ */
/* CONTACT */
/* ++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++ */

.contact__body{
    display: grid;
    grid-template-rows: 8.4rem 76.5rem 6.5rem;
}

/* MAIN */

.contact__main{
    display: grid;
    grid-template-rows: 18.75rem 5rem 35rem 10rem 8rem;
}

.contact__main__imgContainer{
    height: 18.75rem;
}

.contact__main__sectionImg{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.contact__section__form{
    margin-left: 4vh;
    margin-right: 4vh;
}

main form{
    margin-top: 0.8rem;
    display: grid;
    justify-content: center;
    align-items: center;
    color: rgba(53, 52, 52, 0.908);
}

input{
    padding: 0.5rem;
    height: 2.5rem;
}

input, label{
    margin-top: 0.8rem;
}

.contact__main__form__textarea{
    resize: none;
    margin-top: 0.8rem;
    padding: 0.5rem;
    height: 10rem;
}

.contact__main__form__buttons{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    
    .contact__section__form{
        margin-left: 15vh;
        margin-right: 15vh;
    }

}

/* END MAIN */

/* END CONTACT */

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */

/* ++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++ */
/* FOOTER */
/* ++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++ */

footer{
    background-color: black;
}

footer div.footer__container{
    background-color: black;
    color: white;
    text-align: center;
}

footer div.footer__container ul.footer__socialList i{
    color: white;
    margin: 10px 5px;
    font-size: large;
}

/* END FOOTER */

/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
